<% include ./partials/header.ejs %>

<div class="w-full h-screen bg-center bg-cover bg-[url('')] bg-zinc-300 flex items-center justify-center">
  <div class="w-[30vw]  bg-white px-10 py-10 rounded-[30px]">
    <h1 class="text-3xl text-center font-semibold text-zinc-700 capitalize tracking-tighter leading-none">Create new account</h1>
    <form action="/register" method="post">
      <input class="block border-2 rounded-md mt-2 px-3 py-2 w-full" type="text" name="username" id="" placeholder="username">
      <input class="block border-2 rounded-md mt-2 px-3 py-2 w-full" type="text" name="fullname" id="" placeholder="fullname">
      <input class="block border-2 rounded-md mt-2 px-3 py-2 w-full" type="email" name="email" id="" placeholder="email">
      <input class="block border-2 rounded-md mt-2 px-3 py-2 w-full" type="password" name="password" id="" placeholder="password">
      <input class="block border-2 rounded-md mt-2 px-3 py-2 w-full" type="number" name="contact" id="" placeholder="contact">
      <input class="block border-2 mt-2 px-3 py-2 w-full bg-red-600 text-white text-md rounded-full cursor-pointer" type="submit" value="Create New account">
      <p class="text-xs font-semibold w-3/4 mx-auto text-zinc-800 mt-6 text-center">By continuing, you agree to Pinterest's Terms of Service and acknowledge you've read our Privacy Policy. Notice at collection.</p>
    </form>
    <a href="/" class="inline-block mt-5 w-full text-sm text-center font-semibold text-zinc-700">Login existing account ?</a>
  </div> 
</div>
<% include ./partials/footer.ejs %>
