<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
        <h1 class="text-3xl tracking-tight mb-3">All Users</h1>
        <div class="users flex gap-5 flex-wrap">
            <div class="user w-72  p-4 bg-zinc-800 rounded-lg">
                <div class="w-full h-52 bg-zinc-500 rounded-lg"></div>
                <h3 class="text-xl tracking-tight mt-3">Sai Charan</h3>
                <h5 class="text-zinc-300">sai@gmail.com</h5>
                <div class="flex gap-4 mt-3">
                    <a href="" class="text-yellow-300">Edit user</a>
                    <a href="" class="text-red-500">Delete user</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>