<% include ./partials/header.ejs %>
<div class="w-full h-screen bg-zinc-300 flex items-center justify-center">
  <div class="w-80 h-[60vh] bg-zinc-100 px-4 py-5 rounded-md">
    <h2 class="text-3xl tracking-tight leading-none">Welcome to pinterest.</h2>
    <form action="">
      <input class="block mt-2 w-full px-3 py-2" type="text" name="username" placeholder="username">
      <input class="block mt-2 w-full px-3 py-2" type="password" name="password" placeholder="password">
      <input class="block mt-2 w-full px-3 py-2 bg-red-600 text-white rounded-full" type="submit" value="Submit">
    </form>
  </div>
</div>
<% include ./partials/footer.ejs %>
